@tailwind base;
@tailwind components;
@tailwind utilities;


  















/* Example CSS for icon-containerbg, icon-exit, and icon-enter */
.icon-container {
  transition: transform 0.5s ease-in-out;
}

.icon-enter {
  transform: rotate(0deg);
}

.icon-exit {
  transform: rotate(180deg);
}


.backdrop-blur {
  background-color: rgba(234, 225, 225, 0); /* Semi-transparent background */
  backdrop-filter: blur(0); /* Adjust the blur amount as needed */
}















/* styles.css */
@keyframes fadeInDownDrunk {
  from {
    opacity: 0;
    transform: translateY(-50px) rotate(-20deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

.funqrew-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeInDownDrunk 0.6s forwards;
}

.funqrew-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.funqrew-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.funqrew-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.funqrew-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.funqrew-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.funqrew-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.funqrew-text span:nth-child(7) {
  animation-delay: 0.7s;
}




/* styles.css */
/* styles.css */
@keyframes suddenJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.funqrew-text span {
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.funqrew-text span:hover {
  animation: suddenJump 0.1s steps(1, end);
}
















.text-shadow {
  text-shadow: 2px 2px 8px rgba(5, 1, 39, 0.5); /* Adjust the values to your preference */
}




















/* 



.wordCarousel {
  font-size: 1rem;
  font-weight: 100;
  color: #eee;
  position: relative;
  height: 80px;
  overflow: hidden;
}

.wordCarousel div {
  overflow: hidden;
  position: absolute;
  top: 10px;
  height: 60px;
}

.wordCarousel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wordCarousel li {
  font-family: Serif;
  font-size: 2rem;
  color: #eee;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  white-space: nowrap;
}

.flip5 { animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip5 {
  0% { margin-top: -225px; }
  5% { margin-top: -180px; }
  20% { margin-top: -180px; }
  25% { margin-top: -135px; }
  40% { margin-top: -135px; }
  45% { margin-top: -90px; }
  60% { margin-top: -90px; }
  65% { margin-top: -45px; }
  80% { margin-top: -45px; }
  85% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -225px; }
}


@media (max-width: 768px) {
  .wordCarousel li {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .wordCarousel li {
    font-size: 1rem;
  }
} */























.card {
  position: relative;
  width: 200px;
  height: 250px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  width: 180px;
  background: transparent ;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
