@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-container {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-enter {
    transform: rotate(0deg);
  }
  
  .icon-exit {
    transform: rotate(180deg);
  }
  
  
