@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-container {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-enter {
    transform: rotate(0deg);
  }
  
  .icon-exit {
    transform: rotate(180deg);
  }
  
  


 /* Add this CSS to your stylesheet */
.absolute.flex > * {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.absolute.flex.open > * {
  opacity: 1;
  transform: translateY(0);
}

.absolute.flex.open > *:nth-child(1) {
  transition-delay: 0.1s;
}

.absolute.flex.open > *:nth-child(2) {
  transition-delay: 0.2s;
}

.absolute.flex.open > *:nth-child(3) {
  transition-delay: 0.3s;
}

.absolute.flex.open > *:nth-child(4) {
  transition-delay: 0.4s;
}

.absolute.flex.open > *:nth-child(5) {
  transition-delay: 0.5s;
}
